.filter{
    width: 80%;
    margin-top: 30px;
    padding-left: 110px;
    clear: both;
}
.search{
    width: 320px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    outline: none;
    background-color: #EFEFEF;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    float: left;
}

.select{
    float: right;
    background-color: #161616;
    color: #fff;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    border: none;
    width: 130px;
}

.wrap_date{
    margin-left: 10px;
    float: right;
}