.header{
    margin-top: 30px;
    padding-left: 90px;
    clear: both;
}
.title_header{
    margin-left: 20px;
}
.text{
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
}
.count{
    font-style: normal;
    font-size: 18px;
}
.button{
    width: 40px;
    margin-left: 230px;
    margin-top: 10px;
}
.filter_dashboard{
    width: 100%;
    margin: auto;
    // margin-top: 40px;
    margin-right: 30px;
    float: right;
}
.filter_dashboard_grid{
    float: right;
    margin-left: 20px;
    p{
        position: absolute;
        margin-top: -25px;
        margin-left:0px;
    }
    select{
        text-align: center;
    }
}