.sidenav---sidenav---_2tBP{
    background: #000 !important;
    position:fixed;
}
a{
    text-decoration: none;
}
.profile_detail{
    list-style: none;
    position: relative;
    top:-10px;
   p{
    margin-top: -30px;
    font-size: 10px;
   }
}
